variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - format
  - build
  - test
  - deploy

image: blockstream/verde@sha256:c6b59066998c138c7e43a8bc12ed6f9e83ebe3476ab4c5b73619390c495ab948

test_format:
  tags:
    - ga
  stage: format
  script:
    - . $HOME/esp/esp-idf/export.sh
    - ./format.sh
    - idf.py reconfigure
    - git diff --exit-code

test_configs:
  tags:
    - ga
  stage: format
  script:
    - ./tools/check_default_configs.sh
    - git diff --exit-code

.test_build_template:
  tags:
    - ga
  stage: build
  artifacts:
    expire_in: 2 weeks
    when: on_success
    paths:
    - build*/jade.bin
    - build*/*_fw.bin
    - build*/*_fw.bin.hash
    - build*/index.json
    - build*/ota_data_initial.bin
    - build*/bootloader/bootloader.bin
    - build*/partition_table/partition-table.bin
    - build*/sdkconfig
    - build*/bsdiff.h
    - build*/bsdiff.c
  script:
    - . $HOME/esp/esp-idf/export.sh
    - idf.py all size-components size
    - ./tools/fwprep.py build/jade.bin build
    - ./tools/mkindex.py build $(basename $(ls build/*_fw.bin) | cut -d'_' -f1)
    - cp sdkconfig build/
    - cp components/esp32_bsdiff/bsdiff.h build/
    - cp components/esp32_bsdiff/bsdiff.c build/

test_build_qemu:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_qemu.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_qemu

test_build_qemu_psram:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_qemu_psram.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_qemu_psram

prod_build_jade:
  before_script:
    - cp production/sdkconfig_jade_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_prod

prod_build_jade_noradio:
  before_script:
    - cp production/sdkconfig_jade_noradio_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_noradio_prod

prod_build_jade_v1_1:
  before_script:
    - cp production/sdkconfig_jade_v1_1_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v1_1_prod

prod_build_jade_v1_1_noradio:
  before_script:
    - cp production/sdkconfig_jade_v1_1_noradio_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v1_1_noradio_prod

prod_build_jade_v2:
  before_script:
    - cp production/sdkconfig_jade_v2s3_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v2_prod

prod_build_jade_v2_noradio:
  before_script:
    - cp production/sdkconfig_jade_v2s3_noradio_prod.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v2_noradio_prod

smoketest_build_jade_v1_1:
  before_script:
    - cp production/sdkconfig_jade_v1_1_smoketest.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v1_1_smoketest

smoketest_build_jade_v2:
  before_script:
    - cp production/sdkconfig_jade_v2s3_smoketest.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_v2_smoketest

test_build_jade_ci:
  before_script:
    - cp configs/sdkconfig_jade_ci.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_jade_ci

test_build_jade_v1_1_ci:
  before_script:
    - cp configs/sdkconfig_jade_v1_1_ci.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_jade_v1_1_ci

test_build_jade_v2_ci:
  before_script:
    - cp configs/sdkconfig_jade_v2s3_ci.defaults sdkconfig.defaults
  extends: .test_build_template
  after_script:
    - mv build build_jade_v2_ci

test_build_jade:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade

test_build_jade_v1_1:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v1_1.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v1_1

test_build_jade_v2:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v2s3.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v2

test_build_jade_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_ndebug

test_build_jade_v1_1_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v1_1_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v1_1_ndebug

test_build_jade_v2_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v2s3_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v2_ndebug

test_build_display_m5fire:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5fire.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5fire

test_build_display_m5blackgray:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5blackgray.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5blackgray

test_build_display_m5core2:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5core2.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5core2

test_build_display_m5stickcplus:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5stickcplus.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5stickcplus

test_build_display_m5stickcplus2:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5stickcplus2.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5stickcplus2

test_build_display_m5cores3:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_m5cores3.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_m5cores3

test_build_display_ttgo_tdisplay:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_ttgo_tdisplay.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_ttgo_tdisplay

test_build_display_ttgo_tdisplays3:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_ttgo_tdisplays3.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_ttgo_tdisplays3

test_build_display_ttgo_tdisplays3procamera:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_ttgo_tdisplays3procamera.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_ttgo_tdisplays3procamera

test_build_display_ttgo_tdisplays3_ci:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_display_ttgo_tdisplays3_ci.defaults sdkconfig.defaults
  after_script:
    - mv build build_display_ttgo_tdisplays3_ci

test_build_diycam_esp32-cam:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_diycam_esp32-cam.defaults sdkconfig.defaults
  after_script:
    - mv build build_diycam_esp32-cam

test_build_diycam_esp32-wrover-cam:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_diycam_esp32-wrover-cam.defaults sdkconfig.defaults
  after_script:
    - mv build build_diycam_esp32-wrover-cam

test_build_diycam_tcameraplus:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_diycam_tcameraplus.defaults sdkconfig.defaults
  after_script:
    - mv build_diycam_tcameraplus

test_build_jade_noblobs_ci:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_noradio_ci.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_noblobs_ci

test_build_jade_v1_1_noblobs_ci:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v1_1_noradio_ci.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v1_1_noblobs_ci

test_build_jade_v2_noblobs_ci:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v2s3_noradio_ci.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v2_noblobs_ci

test_build_jade_noblobs:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_noradio.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_noblobs

test_build_jade_v1_1_noblobs:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v1_1_noradio.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v1_1_noblobs

test_build_jade_v2_noblobs:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v2s3_noradio.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v2_noblobs

test_build_jade_noblobs_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_noradio_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_noblobs_ndebug

test_build_jade_v1_1_noblobs_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v1_1_noradio_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v1_1_noblobs_ndebug

test_build_jade_v2_noblobs_ndebug:
  extends: .test_build_template
  before_script:
    - cp configs/sdkconfig_jade_v2s3_noradio_ndebug.defaults sdkconfig.defaults
  after_script:
    - mv build build_jade_v2_noblobs_ndebug

test_flash_qemu:
  stage: deploy
  tags:
    - ga
  needs:
    - test_build_qemu
  before_script:
    - mv build_display_qemu build
  script:
    - ./main/qemu/make-flash-img.sh
    - ./main/qemu/qemu_ci_flash.sh

test_flash_qemu_psram:
  stage: deploy
  tags:
    - ga
  needs:
    - test_build_qemu_psram
  before_script:
    - mv build_display_qemu_psram build
  script:
    - ./main/qemu/make-flash-img.sh
    - ./main/qemu/qemu_ci_flash.sh

.test_flash_artifact_template:
  stage: deploy
  tags:
    - esp32flasher
  script:
    - cp build*/sdkconfig ./
    - ./ci_flash.sh

.test_flash_artifact_template_v1_1:
  stage: deploy
  tags:
    - esp32flasher_v1_1
  script:
    - cp build*/sdkconfig ./
    - ./ci_flash.sh

.test_flash_artifact_template_s3:
  stage: deploy
  tags:
    - esp32s3flasher
  variables:
    IDF_TOOLS_PATH: "/home/gitlab-runner/.idf/531"
  script:
    - cp build*/sdkconfig ./
    - . $HOME/esp/esp-idf-5.3.1/export.sh
    - ./ci_flash.sh esp32s3

test_flash_artifact:
  extends: .test_flash_artifact_template
  needs:
    - test_build_jade_ci
  before_script:
    - mv build_jade_ci build

test_flash_artifacts3:
  extends: .test_flash_artifact_template_s3
  needs:
    - test_build_display_ttgo_tdisplays3_ci
  before_script:
    - mv build_display_ttgo_tdisplays3_ci build

test_gcov:
  # for now this only works on s3
  tags:
    - esp32s3flasher
  stage: build
  variables:
    IDF_TOOLS_PATH: "/home/gitlab-runner/.idf/531"
  script:
    - cp configs/sdkconfig_display_ttgo_tdisplays3_gcov_ci.defaults sdkconfig.defaults
    - . $HOME/esp/esp-idf-5.3.1/export.sh
    - idf.py all size-components size
    - ./tools/fwprep.py build/jade.bin build
    - ./tools/mkindex.py build $(basename $(ls build/*_fw.bin) | cut -d'_' -f1)
    - cp sdkconfig build/
    - cp components/esp32_bsdiff/bsdiff.h build/
    - cp components/esp32_bsdiff/bsdiff.c build/
    - cp build*/sdkconfig ./
    - ./ci_flash.sh esp32s3
  artifacts:
    expire_in: 2 weeks
    when: on_success
    paths:
    - build*/coverage_report/*

test_flash_artifact_ota_delta:
  stage: deploy
  tags:
    - esp32flasher
  needs:
    - test_build_jade_ci
    - test_build_jade_noblobs_ci
  before_script:
    - mv build_jade_noblobs_ci build_noblobs
    - mv build_jade_ci build
  script:
    - ./ota_delta_ci.sh

test_flash_artifact_ota_delta_v1_1:
  stage: deploy
  tags:
    - esp32flasher_v1_1
  needs:
    - test_build_jade_v1_1_ci
    - test_build_jade_v1_1_noblobs_ci
  before_script:
    - mv build_jade_v1_1_noblobs_ci build_noblobs
    - mv build_jade_v1_1_ci build
  script:
    - ./ota_delta_ci.sh

test_flash_artifact_noblobs:
  extends: .test_flash_artifact_template
  needs:
    - test_build_jade_noblobs_ci
  before_script:
    - mv build_jade_noblobs_ci build

test_flash_artifact_v1_1:
  extends: .test_flash_artifact_template_v1_1
  needs:
    - test_build_jade_v1_1_ci
  before_script:
    - mv build_jade_v1_1_ci build

test_flash_artifact_noblobs_v1_1:
  extends: .test_flash_artifact_template_v1_1
  needs:
    - test_build_jade_v1_1_noblobs_ci
  before_script:
    - mv build_jade_v1_1_noblobs_ci build

build_api_docs:
  tags:
    - ga
  stage: build
  artifacts:
    expire_in: 14 days
    name: jade-apidocs
    when: on_success
    paths:
    - apidocs.tar.gz
  script:
    - (cd docs && make html)
    - (cd docs/_build && tar czf ../../apidocs.tar.gz html/)
