variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_DEPTH: 1
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 4

stages:
  - pre_test
  - build_prod
  - build_dev
  - build_test
  - test
  - flash
  - release
  - build_diy

image: blockstream/verde@sha256:9171360dae48d3fba7c0f36ab5eb45e2529d178a603e89197cb08fb123ca619e

include:
  - gitlab/prod_fw.yml
  - gitlab/python.yml
  - gitlab/apidocs.yml
  - gitlab/test_fw.yml
  - gitlab/dev_fw.yml
  - gitlab/test_libjade.yml
  - gitlab/test.yml
  - gitlab/flash.yml
  - gitlab/release.yml
  - gitlab/diy_fw.yml

#
# Jade FW build template
#

.build_template:
  tags: [ ga ]
  needs: []
  artifacts:
    expire_in: 2 weeks
    when: on_success
    paths:
    - $CI_JOB_NAME/jade.bin
    - $CI_JOB_NAME/*_fw.bin
    - $CI_JOB_NAME/*_fw.bin.hash
    - $CI_JOB_NAME/index.json
    - $CI_JOB_NAME/ota_data_initial.bin
    - $CI_JOB_NAME/bootloader/bootloader.bin
    - $CI_JOB_NAME/partition_table/partition-table.bin
    - $CI_JOB_NAME/sdkconfig*
    - $CI_JOB_NAME/bsdiff.*
  script:
    - . $HOME/esp/esp-idf/export.sh
    - idf.py all size-components size
    - source /venv/bin/activate
    - ./tools/fwprep.py build/jade.bin build
    - ./tools/mkindex.py build $(basename $(ls build/*_fw.bin) | cut -d'_' -f1)
    - cp sdkconfig sdkconfig.defaults build/
    - cp components/esp32_bsdiff/bsdiff.* build/
  after_script:
    - mv build $CI_JOB_NAME
