variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_DEPTH: 1
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 4

stages:
  - pre_test
  - build_prod
  - build_dev
  - build_test
  - test
  - flash
  - release
  - build_diy
  - docker_build

image: blockstream/jade_builder@sha256:af81775ea2754bdb9494b644327233ddd19403acbb94232ca2824785e13e89fc

include:
  - gitlab/prod_fw.yml
  - gitlab/python.yml
  - gitlab/apidocs.yml
  - gitlab/test_fw.yml
  - gitlab/dev_fw.yml
  - gitlab/test_libjade.yml
  - gitlab/test.yml
  - gitlab/flash.yml
  - gitlab/release.yml
  - gitlab/diy_fw.yml
  - gitlab/docker.yml

#
# Jade FW build template
#

.build_template:
  tags: [ ga ]
  needs: []
  artifacts:
    expire_in: 2 weeks
    when: on_success
    paths:
    - $CI_JOB_NAME/jade.bin
    - $CI_JOB_NAME/*_fw.bin
    - $CI_JOB_NAME/*_fw.bin.hash
    - $CI_JOB_NAME/index.json
    - $CI_JOB_NAME/ota_data_initial.bin
    - $CI_JOB_NAME/bootloader/bootloader.bin
    - $CI_JOB_NAME/partition_table/partition-table.bin
    - $CI_JOB_NAME/sdkconfig*
    - $CI_JOB_NAME/bsdiff.*
  script:
    - pushd /opt/esp/idf && . ./export.sh && popd
    - idf.py all size-components size
    - ./tools/fwprep.py build/jade.bin build
    - ./tools/mkindex.py build $(basename $(ls build/*_fw.bin) | cut -d'_' -f1)
    - cp sdkconfig sdkconfig.defaults build/
    - cp components/esp32_bsdiff/bsdiff.* build/
  after_script:
    - mv build $CI_JOB_NAME
