services:
  dev:
    image: blockstream/jade_builder@sha256:af81775ea2754bdb9494b644327233ddd19403acbb94232ca2824785e13e89fc
    volumes:
      - .:/host/jade/
      - /dev/serial/by-id:/dev/serial/by-id
    working_dir: /host/jade/
    privileged: true
    tty: true
