services:
  dev:
    image: blockstream/jade_builder@sha256:6937ea8808b89fe3510af6e156da4495d313c0ec7d3370108896ed50b605d237
    volumes:
      - .:/host/jade/
      - /dev/serial/by-id:/dev/serial/by-id
    working_dir: /host/jade/
    privileged: true
    tty: true
