menu "Blockstream Jade"

    config DEBUG_MODE
        bool "Enable debug mode"
        default n
        help
            Enable debug mode.
    menu "Advanced Jade debug options"
        visible if DEBUG_MODE
        config DEBUG_UNATTENDED_CI
            bool "Build for unattended testing (workflows proceed without user intervention)"
            help
                Automatically approve actions to enable unattended testing.
        config DEBUG_UNATTENDED_CI_TIMEOUT_MS
            int "Timeout after which actions confirmed and workflows proceed (ms)"
            depends on DEBUG_UNATTENDED_CI
            default 100 if DEBUG_UNATTENDED_CI
            default 0
            help
                Time in milliseconds after which actions are automatically approved and workflows proceed.
    endmenu

    choice
        prompt "Board type"
        default BOARD_TYPE_JADE
        config BOARD_TYPE_JADE
            bool "Blockstream Jade v1 (wheel)"
            select HAS_AXP
            select HAS_CAMERA
        config BOARD_TYPE_JADE_V1_1
            bool "Blockstream Jade v1.1 (rocker)"
            select HAS_AXP
            select HAS_CAMERA
        config BOARD_TYPE_M5_FIRE
            bool "M5Stack Fire"
            select HAS_IP5306
        config BOARD_TYPE_M5_BLACK_GRAY
            bool "M5Stack Black/Gray"
            select HAS_IP5306
        config BOARD_TYPE_M5_STICKC_PLUS
            bool "M5StickC Plus"
            select HAS_AXP
        config BOARD_TYPE_M5_STICKC_PLUS_2
            bool "M5StickC Plus 2"
        config BOARD_TYPE_TTGO_TDISPLAY
            bool "TTGO T-DISPLAY"
        config BOARD_TYPE_DEV
            bool "Dev board"
        config BOARD_TYPE_CUSTOM
            bool "Custom board"
            select CUSTOM_PINS
    endchoice

    config DISP_INVERT_COLORS
        bool "Invert Display Colors"
        depends on BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
        default n
        help
            Invert the colors in the dipslay. Some M5 devices have inverted colors depending on revision.

    config DISP_FULLSCREEN
        bool "Use entire screen real-estate"
        depends on BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
        default n
        help
            Use entire screen real estate (experimental)

    config RETURN_CAMERA_IMAGES
        bool "Enable return camera images, larger outbound message buffer"
        depends on DEBUG_MODE && HAS_CAMERA
        default n
        help
            Enables call to return camera images - allocates larger outbound message buffer

    config HAS_AXP
        bool "Use the AXP192 power controller"
        depends on !BOARD_TYPE_M5_FIRE && !BOARD_TYPE_M5_BLACK_GRAY && !BOARD_TYPE_TTGO_TDISPLAY
        help
            Jade (and some devices) come with the AXP192 to manage power to ESP, display, camera
            default n

    menu "AXP Pin Mapping"
        visible if HAS_AXP && BOARD_TYPE_CUSTOM

        config AXP_SDA
            int "AXP SDA Pin"
            range -1 40
            default 4 if BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1
            default 21 if BOARD_TYPE_M5_STICKC_PLUS
        config AXP_SCL
            int "AXP SCL Pin"
            range -1 40
            default 2 if BOARD_TYPE_JADE
            default 14 if BOARD_TYPE_JADE_V1_1
            default 22 if BOARD_TYPE_M5_STICKC_PLUS
    endmenu

    config HAS_IP5306
        bool "Use the IP5306 power controller"
        depends on BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY || BOARD_TYPE_CUSTOM
        help
            Some devices come with the IP5306 to manage power to ESP, charge the battery, etc.
            default n

    menu "IP5306 Pin Mapping"
        visible if HAS_IP5306 && BOARD_TYPE_CUSTOM

        config IP5306_SDA
            int "IP5306 SDA Pin"
            range -1 40
            default 21 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
        config IP5306_SCL
            int "IP5306 SCL Pin"
            range -1 40
            default 22 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
    endmenu

    menu "Input Options"
        visible if BOARD_TYPE_CUSTOM
        config UI_WRAP_ALL_MENUS
            bool "Enable Scroll Wrapping for all Menus"
            help
                Allows nagivation of all menus with a single button device.

        config INPUT_ONE_BUTTON_MODE
            bool "Enable One Button Input Mode"
            help
                Enable navigation and selection using short/long presses of the A button.

        config BUTTON_B_ACTIVE_HIGH
            bool "Configure B Button for Active High Operation"
            help
                Enable navigation and selection using short/long presses of the A button.
    endmenu

    menu "Input Pin Mapping"
        visible if BOARD_TYPE_CUSTOM

        config INPUT_WHEEL_A
            int "Wheel A"
            range -1 40
            default 37 if BOARD_TYPE_JADE
        config INPUT_WHEEL_B
            int "Wheel B"
            range -1 40
            default 38 if BOARD_TYPE_JADE
        config INPUT_BTN_A
            int "BTN A"
            range -1 40
            default 37 if BOARD_TYPE_JADE_V1_1
            default 39 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY || BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
            default 0 if BOARD_TYPE_TTGO_TDISPLAY
            default 25 if BOARD_TYPE_DEV
        config INPUT_BTN_B
            int "BTN B"
            range -1 40
            default 39 if BOARD_TYPE_JADE_V1_1
            default 37 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY || BOARD_TYPE_M5_STICKC_PLUS
            default 35 if BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS_2
            default 32 if BOARD_TYPE_DEV
        config INPUT_WHEEL_SW
            int "Wheel SW"
            range -1 40
            default 33 if BOARD_TYPE_JADE
            default 38 if BOARD_TYPE_JADE_V1_1
            default 27 if BOARD_TYPE_DEV
        config INPUT_INVERT_WHEEL
            bool "Invert wheel"
            default n

        config INPUT_FRONT_SW
            int "Front switch"
            range -1 40
            default 21 if BOARD_TYPE_JADE
            default 33 if BOARD_TYPE_JADE_V1_1
            default 38 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
            default 37 if BOARD_TYPE_M5_STICKC_PLUS_2
            default 35 if BOARD_TYPE_DEV
    endmenu

    config HAS_CAMERA
        bool "Enable Camera Functions"
        help
            Enables camera functionality
            select HTTPD_WS_SUPPORT if ETH_USE_OPENETH
            default y if BOARD_TYPE_JADE_V1_1 || BOARD_TYPE_JADE || (ETH_USE_OPENETH && HTTPD_WS_SUPPORT)

    menu "Camera Rotation"
        visible if HAS_CAMERA && BOARD_TYPE_CUSTOM

        config CAMERA_ROTATE_90
            bool "Rotate Camera Image by 90 degrees"
            default y

        config CAMERA_ROTATE_180
            bool "Rotate Camera Image by 180 degrees"
            default n

        config CAMERA_ROTATE_270
            bool "Rotate Camera Image by 270 degrees"
            default n

    endmenu

    menu "Camera Pin Mapping"
        visible if HAS_CAMERA && BOARD_TYPE_CUSTOM

        config CAMERA_D0
            int "Camera pin D0"
            range -1 40
            default 32
        config CAMERA_D1
            int "Camera pin D1"
            range -1 40
            default 35
        config CAMERA_D2
            int "Camera pin D2"
            range -1 40
            default 34
        config CAMERA_D3
            int "Camera pin D3"
            range -1 40
            default 5
        config CAMERA_D4
            int "Camera pin D4"
            range -1 40
            default 39 if BOARD_TYPE_JADE
            default 15 if BOARD_TYPE_JADE_V1_1
            default -1
        config CAMERA_D5
            int "Camera pin D5"
            range -1 40
            default 18
        config CAMERA_D6
            int "Camera pin D6"
            range -1 40
            default 36
        config CAMERA_D7
            int "Camera pin D7"
            range -1 40
            default 19

        config CAMERA_XCLK
            int "Camera XCLK"
            range -1 40
            default 27
        config CAMERA_XCLK_FREQ
            int "Camera XCLK frequency"
            default "20000000"

        config CAMERA_PCLK
            int "Camera PCLK"
            range -1 40
            default 0 if BOARD_TYPE_JADE
            default 21 if BOARD_TYPE_JADE_V1_1
            default -1

        config CAMERA_VSYNC
            int "Camera VSYNC"
            range -1 40
            default 22

        config CAMERA_HREF
            int "Camera HREF"
            range -1 40
            default 26

        config CAMERA_SDA
            int "Camera SDA"
            range -1 40
            default 25
        config CAMERA_SCL
            int "Camera SCL"
            range -1 40
            default 23

        config CAMERA_RESET
            int "Camera RESET"
            range -1 40
            default -1

        config CAMERA_PWDN
            int "Camera PWDN"
            range -1 40
            default -1
    endmenu

    menu "Display Driver"
        visible if BOARD_TYPE_CUSTOM

        choice
            prompt "Display driver"
            config DISP_DRIVER_ILI9341
                bool "ILI9341"
            config DISP_DRIVER_ILI9488
                bool "ILI9488"
            config DISP_DRIVER_ST7789V
                bool "ST7789V"
            config DISP_DRIVER_ST7735
                bool "ST7735"
            config DISP_DRIVER_ST7735R
                bool "ST7735R"
            config DISP_DRIVER_ST7735B
                bool "ST7735B"
            config DISP_DRIVER_MAX
                bool "MAX"
        endchoice

        # hidden option, used to transform the choice into a single int value
        config DISP_TYPE
            int
            default 0 if DISP_DRIVER_ILI9341 || BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
            default 1 if DISP_DRIVER_ILI9488
            default 2 if DISP_DRIVER_ST7789V || BOARD_TYPE_DEV || BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1 || BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
            default 3 if DISP_DRIVER_ST7735
            default 4 if DISP_DRIVER_ST7735R
            default 5 if DISP_DRIVER_ST7735B
            default 6 if DISP_DRIVER_MAX

        config DISP_TFT_WIDTH
            int "TFT display width"
            range 0 640
            default 240
        config DISP_TFT_HEIGHT
            int "TFT display height"
            range 0 640
            default 320
        config DISP_COLOR_BITS_24
            int "TFT color bits"
            default 102
        config DISP_GAMMA_CURVE
            int "Gamma curve"
            default 0
        config DISP_SPI_CLOCK
            int "SPI bus clock"
            default 32000000
        config DISP_INVERT_ROTATION
            int "Invert rotation"
            range 0 1
            default 0
        config DISP_INVERT_ROTATION1
            int "Invert rotation 1"
            range 0 1
            default 1 if BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1 || BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
            default 0 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
            default 1 if BOARD_TYPE_DEV
        config DISP_INVERT_ROTATION2
            int "Invert rotation 2"
            range 0 1
            default 0 if BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1 || BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
            default 1 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
            default 0 if BOARD_TYPE_DEV
        config DISP_ORIENTATION_DEFAULT
            int "Set orientation default"
            range 0 3
            default 3 if BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1 || BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS || ETH_USE_OPENETH || BOARD_TYPE_M5_STICKC_PLUS_2
            default 1 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
            default 0 if BOARD_TYPE_DEV
        config DISP_RGB_BGR
            int "RGB-BGR"
            default 0

        config GUI_DISPLAY_WINDOW_X1
            int "Gui Display Window X1 offset"
            range 0 1000
            default 0 if DISP_FULLSCREEN && (BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY)
            default 40

        config GUI_DISPLAY_WINDOW_Y1
            int "Gui Display Window Y1 offset"
            range 0 1000
            default 0 if DISP_FULLSCREEN && (BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY)
            default 53

        config GUI_DISPLAY_WINDOW_X2
            int "Gui Display Window X2 offset"
            range 0 1000
            default 320 if DISP_FULLSCREEN && (BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY)
            default 280

        config GUI_DISPLAY_WINDOW_Y2
            int "Gui Display Window Y2 offset"
            range 0 1000
            default 240 if DISP_FULLSCREEN && (BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY)
            default 188

        menu "Display Pin mapping"
            config DISP_PIN_NUM_MISO
                int "PIN_NUM_MISO"
                range -1 40
                default -1 if BOARD_TYPE_JADE || BOARD_TYPE_JADE_V1_1
                default 19 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default -1 if BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
                default 25 if BOARD_TYPE_DEV
                default 2 if BOARD_TYPE_TTGO_TDISPLAY
            config DISP_PIN_NUM_MOSI
                int "PIN_NUM_MOSI"
                range -1 40
                default 15 if BOARD_TYPE_JADE
                default 2 if BOARD_TYPE_JADE_V1_1
                default 23 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default 15 if BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
                default 23 if BOARD_TYPE_DEV
                default 19 if BOARD_TYPE_TTGO_TDISPLAY
            config DISP_PIN_NUM_CLK
                int "PIN_NUM_CLK"
                range -1 40
                default 14 if BOARD_TYPE_JADE
                default 12 if BOARD_TYPE_JADE_V1_1
                default 18 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY || BOARD_TYPE_TTGO_TDISPLAY
                default 13 if BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
                default 19 if BOARD_TYPE_DEV
            config DISP_PIN_NUM_CS
                int "PIN_NUM_CS"
                range -1 40
                default 13 if BOARD_TYPE_JADE
                default 0 if BOARD_TYPE_JADE_V1_1
                default 14 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default 22 if BOARD_TYPE_DEV
                default 5 if BOARD_TYPE_TTGO_TDISPLAY || BOARD_TYPE_M5_STICKC_PLUS || BOARD_TYPE_M5_STICKC_PLUS_2
            config DISP_PIN_NUM_DC
                int "PIN_NUM_DC"
                range -1 40
                default 12 if BOARD_TYPE_JADE
                default 13 if BOARD_TYPE_JADE_V1_1
                default 27 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default 23 if BOARD_TYPE_M5_STICKC_PLUS
                default 14 if BOARD_TYPE_M5_STICKC_PLUS_2
                default 21 if BOARD_TYPE_DEV
                default 16 if BOARD_TYPE_TTGO_TDISPLAY
            config DISP_PIN_NUM_TCS
                int "PIN_NUM_TCS"
                range -1 40
                default -1
            config DISP_PIN_NUM_RST
                int "PIN_NUM_RST"
                range -1 40
                default 21 if BOARD_TYPE_JADE
                default -1 if BOARD_TYPE_JADE_V1_1
                default 33 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default 18 if BOARD_TYPE_M5_STICKC_PLUS
                default 12 if BOARD_TYPE_M5_STICKC_PLUS_2
                default 18 if BOARD_TYPE_DEV
                default 23 if BOARD_TYPE_TTGO_TDISPLAY
            config DISP_PIN_NUM_BCKL
                int "PIN_NUM_BCKL"
                range -1 40
                default 32 if BOARD_TYPE_M5_FIRE || BOARD_TYPE_M5_BLACK_GRAY
                default 4 if BOARD_TYPE_TTGO_TDISPLAY
                default 27 if BOARD_TYPE_M5_STICKC_PLUS_2
                default -1
        endmenu
    endmenu
endmenu
